<br>
<div class="col-md-6 col-md-offset-1">
   <div id="chat-box">
  	<% @chats.each do |c| %>
  	  <div id="chat-box-item">
       <% chatter = Chat.chatter_details(c, "user")%>
  	    <div id="<%=chatter[:entity]%>">
  		    <%= c.message %><br>
  		    <%= raw "sent by "+ chatter[:sender_name]+"<br>" if chatter[:sender_name].present?%>
  		    &nbsp;<i><small><%= c.created_at %></small></i><br>
  	    </div>
  	  </div>  
  	<% end %>
	</div>
    <div id="chat-form">
        <%= form_tag chats_path, remote: true do  %>
          <div class="field">
            <%= label_tag :"Message" %><br>
            <%= text_field_tag "chat[message]" %>
            <%= hidden_field_tag "chat[sender_id]", current_user.id.to_s %>
            <%= hidden_field_tag "chat[sender_type]", "user" %>
            <%= hidden_field_tag "chat[receiver_id]", @service.id.to_s %>
            <%= hidden_field_tag "chat[receiver_type]", "service" %>
            <%= hidden_field_tag "chat[chat_id]", ""%>
            <%= hidden_field_tag "chat[sent_time]", "2014-08-01T14:11:42+0530" %>
            <%= hidden_field_tag "chat[list_cat_id]", @list_cat_id %>
          </div><br>
          <div class="actions">
            <%= submit_tag(:send) %>
          </div>
        <% end %>
    </div>
</div>

