<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lovocal" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lovocal" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%  if user_signed_in?  %>
      <%= subscribe_to "/messages/#{current_user.id.to_s}" %>
    <% end %>
    <script type="text/javascript">
    console.log("<%=current_user.id.to_s%>");
    <%  if user_signed_in?  %>
      PrivatePub.subscribe("/messages/<%= current_user.id.to_s %>", function(data) {
      console.log(data);
      $('<div id="chat-box-item"></div>').html(data.chat.message).appendTo('#chat-box');
      });
   <% end %>
   </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
